/* COLOR */
/* FONT */
/* OTHER */
body {
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Baloo", sans-serif; }

p, div, span {
  font-family: "Montserrat", sans-serif; }

.sinister-text {
  font-family: "Spectral", serif; }

button, .button {
  font-size: 2em;
  font-family: "Baloo", sans-serif;
  background-color: #3dffa7;
  border: 0px;
  border-radius: 15px;
  border-bottom: 5px solid #0eba69; }

button:hover, .button:hover {
  border-bottom: 5px solid #0ecc72;
  background-color: #7affc0;
  color: #555; }

button:active, .button:active {
  border-bottom: 0px solid #0eba69;
  border-top: 2px solid #0eba69;
  background-color: #0ecc72;
  color: #444; }

/* App */
.top-parent {
  background: linear-gradient(#0FCDC5, #3680C9);
  min-height: 100vh; }

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 0.3em 0 0 0;
  background-color: #97D5FF; }
  .navbar a {
    color: #333;
    width: 30%;
    max-width: 13em;
    text-align: center; }
  .navbar .navbar-tab {
    border-radius: 5px 5px 0 0;
    padding: 0.4em 0 0.2em 0;
    background-color: #3680C9;
    font-family: "Baloo", sans-serif;
    font-size: 1.2em; }
  .navbar .active-navtab {
    background-color: #0FCDC5; }

.die-stat-container {
  display: flex;
  justify-content: space-around;
  min-height: 30vh;
  padding: 15vh 0;
  font-size: 1.5em; }
  .die-stat-container .totalg {
    text-align: center; }
  .die-stat-container .counter {
    text-align: center; }

@keyframes fadeout {
  0% {
    opacity: 1;
    top: 1.5em; }
  100% {
    opacity: 0;
    top: -10em; } }
.floating-number {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  right: 0;
  font-family: "Baloo", sans-serif;
  font-size: 1.4em; }

.floating-number-move {
  animation: fadeout 1.6s linear; }

.floating-number-still {
  opacity: 0; }

.die {
  margin: auto;
  border-radius: 4px;
  border: 2px solid #25468B;
  width: 3em;
  height: 3em;
  cursor: pointer;
  font-size: 2em;
  text-align: center;
  line-height: 3em;
  font-family: "Baloo", sans-serif; }

@keyframes spin {
  0% {
    transform: rotate(0deg);
    text-shadow: #333 0 0 0px; }
  50% {
    text-shadow: #333 0 0 13px; }
  100% {
    transform: rotate(720deg);
    text-shadow: #333 0 0 7px; } }
.rolling {
  animation: spin 800ms ease-in-out infinite;
  color: transparent;
  text-shadow: #333 0 0 10px; }

.die-clicked {
  background-color: #aaa; }

.die-inactive {
  background-color: #aaa;
  border-color: #333;
  cursor: default; }

.die-active {
  background-color: #3680C9; }

/* Fish */
.fish-row {
  display: flex; }

#fish-page .totalg {
  font-size: 1.5em;
  text-align: center;
  padding: 1em; }

.fish-section {
  text-align: center; }

.fish-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto; }

.fish-card {
  text-align: center;
  position: relative; }
  .fish-card .fish-number {
    font-size: 1.2em;
    font-family: "Baloo", sans-serif; }
  .fish-card .fish-image {
    width: 80px; }
  .fish-card .fish-desc {
    display: none;
    width: 15em;
    padding: 1em;
    text-align: left; }

.fish-card:hover .fish-desc {
  display: block;
  position: absolute;
  background-color: #D8CBBB;
  z-index: 2;
  border-radius: 0px 10px 10px 10px;
  border: 2px solid black; }
.fish-card:hover .fish-desc-right {
  right: 0;
  border-radius: 10px 0px 10px 10px; }

.hook {
  margin: 1em 0 2em 0; }

.hook-inactive {
  color: #333;
  background-color: #555;
  font-size: 2em;
  font-family: "Baloo", sans-serif;
  border-radius: 15px;
  border-bottom: 0px;
  cursor: default; }

.hook-inactive:hover {
  border-bottom: 0px;
  background-color: #555;
  color: #333; }

.hook-inactive:active {
  border-bottom: 0px;
  border-top: 0px;
  background-color: #555;
  color: #333; }

/* Home */
.home-header {
  padding-top: 10vh;
  height: 90vh;
  background: linear-gradient(#0FCDC5, #3680C9); }

.home-header-bottom {
  height: 10vh;
  background-color: #3680C9; }

.home-logo-cont {
  text-align: center; }

.home-logo {
  margin: auto; }

.button-cont {
  margin: auto;
  max-width: 27rem;
  padding-top: 10vh;
  display: flex;
  justify-content: space-around; }
  .button-cont a {
    text-align: center;
    width: 30%; }

.home-title {
  font-size: 5em;
  font-family: "Baloo", sans-serif;
  margin: auto;
  text-align: center;
  -webkit-text-stroke: 3px #222;
  -webkit-text-fill-color: #3dffa7;
  color: #3dffa7;
  text-shadow: 3px 3px 0 #222, -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222; }

.home-description {
  text-align: center;
  padding: 2em 20%;
  background-color: #3680C9;
  font-family: "Montserrat", sans-serif; }
  .home-description h2 {
    font-size: 2em;
    font-family: "Baloo", sans-serif; }

/* Login, register */
.login-form {
  margin: auto;
  padding: 1.5em 3em 3em 3em;
  width: 30em;
  background-color: #D8CBBB;
  border-bottom: 10px solid #B1BAA0;
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
  text-align: center; }
  .login-form h1 {
    font-size: 3em;
    text-align: center; }
  .login-form .button {
    margin: auto; }
  .login-form .fields {
    width: 19em;
    text-align: right;
    margin-top: 1em;
    margin-bottom: 2em; }
  .login-form p {
    padding: 2em 0 0 0; }
    .login-form p a {
      color: #0eba69; }

/*# sourceMappingURL=style.css.map */
