@import 'variables';

body {
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading;
}

p, div, span {
    font-family: $body;
}

.sinister-text {
    font-family: $horror;
}

/* App */

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    background-color: $secondary;

    a {
        color: #555;
    }
}

.die {
    width: 3em;
    height: 3em;
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    line-height: 3em;
}

.die-clicked {
    background-color: #aaa;
}

.die-inactive {
    background-color: $inactive-die-color;
    cursor: default;
}

.die-active {
    background-color: $die-color;
    border: $die-border-width solid $primary;
    width: 3em + ($die-border-width * 2);
    height: 3em + ($die-border-width * 2);
}


/* Home */

.home-header {
    padding-top: 10vh;
    height: 90vh;
    background: linear-gradient($primary, $secondary);
}

.home-header-bottom {
    // This is for when I want to use .home-header for login type pages
    // but the gradient needs to end at 90vh

    height: 10vh;
    background-color: $secondary;

}

.home-logo-cont {
    text-align: center;
}

.home-logo {
    margin: auto;
}

.button-cont {
    margin: auto;
    max-width: 27rem;
    padding-top: 10vh;
    display: flex;
    justify-content: space-around;

    a {
        text-align: center;
        width: 30%;
    }

}

button, .button {
    font-size: 2em;
    font-family: $heading;
    background-color: $button-color;
    border: 0px;
    border-radius: 15px;
    border-bottom: 5px solid $button-border-color;
}

button:hover, .button:hover {
    border-bottom: 5px solid $button-border-hover-color;
    background-color: $button-hover-color;
    color: #555;
}

button:active, .button:active {
    border-bottom: 0px solid $button-border-color;
    border-top: 2px solid $button-border-color;
    background-color: $button-border-hover-color;
    color: #444;

}

.home-title {
    font-size: 5em;
    font-family: $heading;
    margin:auto;
    text-align: center;
    -webkit-text-stroke: 3px $title-shadow;
    -webkit-text-fill-color: $title-fill;
    color: $title-fill;
    text-shadow:
        3px 3px 0 $title-shadow,
        -1px -1px 0 $title-shadow,  
        1px -1px 0 $title-shadow,
        -1px 1px 0 $title-shadow,
        1px 1px 0 $title-shadow;
}

.home-description {

    text-align: center;
    padding: 2em 20%;
    background-color: $secondary;
    font-family: $body;

    
    h2 {
        font-size: 2em;
        font-family: $heading;
    }
}

/* Login, register */

.login-form {
    margin: auto;
    padding: 1.5em 3em 3em 3em;
    width: 30em;
    background-color: $sand;
    border-bottom: 10px solid $wetsand;
    font-family: $body;
    border-radius: 20px;
    text-align: center;

    h1 {
        font-size: 3em;
        text-align: center;
    }

    .button {
        margin: auto;
    }

    .fields {
        width: 19em;
        text-align: right;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    label {
    }

    .form-field {
    }
}