@import 'variables';

body {
}

.top-parent {
    padding: 0px $pillar-width;
}

.pillar {
    height: 100vh;
    width: $pillar-width;
    position: fixed;
    background-color: $pillar;
}

// Remove pillars on mobile
@media (max-width: 780px) {
    .top-parent {
        padding: 0px;
    }
    .pillar {
        width: 0px;
    }
}

.left-pillar {
    left:0;
}

.right-pillar {
    right:0;
}

/* App */

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    background-color: $secondary;

    a {
        color: #555;
    }
}

.die {
    width: 3em;
    height: 3em;
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    line-height: 3em;
    transition-property: background-color;
    transition-delay: 1s;
}

.die-clicked {
    background-color: #aaa;
}

.die-inactive {
    background-color: $die-color;
    cursor: default;
}

.die-active {
    background-color: $die-color;
    border: $die-border-width solid $primary;
    width: 3em + ($die-border-width * 2);
    height: 3em + ($die-border-width * 2);
}


/* Home */

.home-header {
    padding-top: 10vh;
    height: 90vh;
    background-color: $secondary;
}

.home-logo-cont {
    text-align: center;
}

.home-logo {
    margin: auto;
}

.button-cont {
    padding-top: 10vh;
    display: flex;
    justify-content: space-around;

    a {
        width: 30%;
    }

    button {
        width: 100%;
        font-size: 2em;
        font-family: $heading;
        background-color: $highlight;
    }
}

.home-title {
    font-size: 3em;
    font-family: $heading;
    margin:auto;
    text-align: center;
}

.home-description {

    padding: 2em;
    background-color: $primary;
    
    h2 {
        font-size: 2em;
        font-family: $heading;
    }
}

.sinister-text {
    font-family: $horror;
}