/* COLOR */
$primary: #ffd089;
$secondary: #3db4ff;
$highlight: #3dffa7;

$pillar: $highlight;
$pillar-width: 25px;
$die-color: $secondary;

/* FONT */
$horror: "Spectral", serif;
$body: "Open Sans", sans-serif;
$heading: "Lato", sans-serif;

/* OTHER */
$die-border-width: 0.1em;