/* COLOR */
$primary: #ffd089;
$secondary: #3db4ff;
$highlight: #3dffa7;

$pillar: $highlight;
$pillar-width: 25px;

/* FONT */
$horror: "Spectral", serif;
$body: "Open Sans", sans-serif;
$heading: "Lato", sans-serif;